.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  background-color: #2f5d62;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 500;
}

.nav a:link,
.nav a:visited,
.nav a:hover {
  color: white;
  text-decoration: none;
}
